.sponsors-content {

	.sponsors-title{
		background: url(images/title-sponsors.svg) center center no-repeat;
		background-size: contain;
		height: 73px;
		margin: 0 auto;
		width: 206px;
	}

	.partners-title{
		background: url(images/title-partners.svg) center center no-repeat;
		background-size: contain;
		height: 95px;
		margin: 0 auto;
		width: 215px;
	}
	
	.sponsors {
		text-align: center;
		
		.sponsor-logo {
			display: inline-block;
			margin: 76px 60px 0;
		}
		.sponsor-logo-hivos {
			background: url(images/sponsor-logo-hivos.png) center center no-repeat;
			background-size: contain;
			height: 90px;
			width: 176px;
		}
		.sponsor-logo-python-foundation {
			background: url(images/sponsor-logo-python-foundation.png) center center no-repeat;
			background-size: contain;
			height: 70px;
			width: 390px;
		}
		.sponsor-logo-toptal {
			background: url(images/sponsor-logo-toptal.png) center center no-repeat;
			background-size: contain;
			height: 84px;
			width: 256px;
		}
		.sponsor-logo-piensa {
			background: url(images/sponsor-logo-piensa.png) center center no-repeat;
			background-size: contain;
			height: 84px;
			width: 198px;
		}
		.sponsor-logo-monoku {
			background: url(images/sponsor-logo-monoku.png) center center no-repeat;
			background-size: contain;
			height: 130px;
			width: 240px;
		}
		.partner-logo-santo-tomas {
			background: url(images/partner-logo-santo-tomas.png) center center no-repeat;
			background-size: contain;
			height: 55px;
			width: 360px;
		}
		.partner-logo-socialatompr {
			background: url(images/partner-logo-socialatompr.png) center center no-repeat;
			background-size: contain;
			height: 55px;
			width: 270px;
		}
		.partner-logo-pulsosocial {
			background: url(images/partner-logo-pulsosocial.png) center center no-repeat;
			background-size: contain;
			height: 55px;
			width: 270px;
		}
		.partner-logo-pycharm {
			background: url(images/partner-logo-pycharm.png) center center no-repeat;
			background-size: contain;
			height: 50px;
			width: 270px;
		}
		.partner-logo-sikuani {
			background: url(images/partner-logo-sikuani.png) center center no-repeat;
			background-size: contain;
			height: 69px;
			width: 240px;
		}
		.partner-logo-tappsi {
			background: url(images/partner-logo-tappsi.png) center center no-repeat;
			background-size: contain;
			height: 90px;
			margin-top: 36px !important;
			width: 78px;
		}
	}
}


@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 992px) {
	.sponsors-content {

		.sponsors-title{
			height: 54px;
			width: 154px;
		}
		.partners-title{
			height: 71px;
			width: 161px;
		}
		.sponsors {
			
			.sponsor-logo {
				margin: 57px 45px 0;
			}
			.sponsor-logo-hivos {
				height: 67px;
				width: 132px;
			}
			.sponsor-logo-python-foundation {
				height: 52px;
				width: 292px;
			}
			.sponsor-logo-toptal {
				height: 63px;
				width: 192px;
			}
			.sponsor-logo-piensa {
				height: 63px;
				width: 149px;
			}
			.sponsor-logo-monoku {
				height: 97px;
				width: 180px;
			}
			.partner-logo-santo-tomas {
				height: 42px;
				width: 270px;
			}
			.partner-logo-socialatompr {
				height: 41px;
				width: 202px;
			}
			.partner-logo-pulsosocial {
				height: 41px;
				width: 202px;
			}
			.partner-logo-pycharm {
				height: 37px;
				width: 152px;
			}
			.partner-logo-sikuani {
				height: 52px;
				width: 180px;
			}
			.partner-logo-tappsi {
				height: 67px;
				margin-top: 36px !important;
				width: 78px;
			}

		}
	}
}

@media screen and (max-width: 768px) {
	.sponsors-content {

		.sponsors-title{
			height: 48px;
			width: 138px;
		}
		.partners-title{
			height: 64px;
			width: 145px;
		}
		.sponsors {
			
			.sponsor-logo {
				margin: 51px auto 0;
			}
			.sponsor-logo-hivos {
				height: 60px;
				width: 119px;
			}
			.sponsor-logo-python-foundation {
				height: 47px;
				width: 262px;
			}
			.sponsor-logo-toptal {
				height: 56px;
				width: 172px;
			}
			.sponsor-logo-piensa {
				height: 57px;
				width: 134px;
			}
			.sponsor-logo-monoku {
				height: 87px;
				width: 162px;
			}
			.partner-logo-santo-tomas {
				height: 37px;
				width: 243px;
			}
			.partner-logo-socialatompr {
				height: 36px;
				width: 182px;
			}
			.partner-logo-pulsosocial {
				height: 36px;
				width: 182px;
			}
			.partner-logo-pycharm {
				height: 24px;
				width: 182px;
			}
			.partner-logo-sikuani {
				height: 47px;
				width: 162px;
			}
			.partner-logo-tappsi {
				height: 67px;
				margin-top: 51px !important;
				width: 78px;
			}
		}
	}
}

@media screen and (max-width: 320px) {
}