<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description"
          content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11.">

    <meta property="og:site_name" content="PyCon Colombia"/>
    <meta property="og:title" content="PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia"/>
    <meta property="og:description"
          content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11."/>
    <meta property="og:image" content="http://pycon.co/static/images/opimage.png">
    <meta property="og:url" content="http://pycon.co/">
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pyconcolombia">
    <meta name="twitter:creator" content="@soyelhijo">
    <meta name="twitter:title" content="PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia">
    <meta name="twitter:description"
          content="PyCon Colombia 2017 will be the first national conference for users and developers of the Python programming language. This year it will be held at Universidad Santo Tomás from February 10-11.">
    <meta name="twitter:image" content="http://pycon.co/static/images/opimage.png">

    <title>PyCon Colombia | February 10th - 11th 2017 | Bogotá, Colombia</title>

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/libs/animate.css">
    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="../static/js/libs/wow.js"></script>
    <script src="../static/js/libs/dialog-polyfill.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ajv/4.1.5/ajv.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>

    <!-- Facebook and twitter libraries -->
    <script src="https://npmcdn.com/react@15.3.0/dist/react-with-addons.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>

    <script>
        $(document).ready(function () {
        });
    </script>

</head>

<body>
<div class="mdl-layout mdl-js-layout layout-home">

    <main><!-- class="mdl-layout__content" -->
        <div><!-- class="page-content" -->

            <div class="container-fluid container-no-padding header-content">

                <div class="dust">
                    <div class="planets">
                        <div class="stars-bg-complete">
                            <div class="container-box">

                                <div class="header-title">
                                    <h1>Pycon Colombia 2017</h1>
                                    <div class="subtitle">
                                        <h2>Coding the future</h2>
                                        <!-- <h2>Coming soon...</h2> -->
                                        <div class="python-logo"></div>
                                    </div>
                                </div>

                                <div class="header-invitation">
                                    <div class="blue-container text-center">
                                        <div class="city">Bogota, Colombia</div>
                                        <div class="date">February 10 and 11, 2017</div>
                                        <div class="social-btn">
                                            <!-- Twitter follow button -->
                                            <a href="https://twitter.com/pyconcolombia" class="twitter-follow-button"
                                               data-show-count="false">Follow @pyconco</a>
                                        </div>
                                        <div class="social-btn">
                                            <!-- Twitter share button -->
                                            <a class="twitter-share-button"
                                               href="https://twitter.com/intent/tweet?text=For%20the%20first%20time%20ever%20Pycon%20will%20be%20in%20Colombia%20from%2010-11%20of%20February%20of%202017%20%40pyconcolombia">Tweet</a>
                                        </div>
                                        <div class="social-btn">
                                            <div id="fb-root"></div>
                                            <!-- Facebook share and like button -->
                                            <div class="fb-like" data-href="https://www.facebook.com/pyconcolombia"
                                                 data-layout="button" data-action="like" data-size="small"
                                                 data-show-faces="true" data-share="true"></div>
                                        </div>
                                    </div>
                                    <!-- <div class="blue-bars"></div> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- header-content ends -->

            <div class="container-fluid container-no-padding sections-container">

                <div class="dust">
                    <div class="stars-bg">
                        <div class="container-box">

                            <div class="section-content speakers-content">
                                <div class="title-section speakers-title">
                                    Key note speakers
                                </div>
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="speaker">
                                            <img src="../static/images/speaker-01.png">
                                            <div class="speaker-name">Jacob Kaplan-Moss</div>
                                            <div class="speaker-description">Co-creator of Django</div>
                                            <div class="speaker-links">
                                                <a href="https://jacobian.org/" target="_blank">
                                                    <div class="speaker-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/jacobian" target="_blank">
                                                    <div class="speaker-link link-twitter"></div>
                                                </a>
                                                <a href="https://github.com/jacobian" target="_blank">
                                                    <div class="speaker-link link-github"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="speaker">
                                            <img src="../static/images/speaker-05.png">
                                            <div class="speaker-name">Daniel Roy Greenfeld</div>
                                            <div class="speaker-description">Co-author of Two scoops of Django</div>
                                            <div class="speaker-links">
                                                <a href="https://www.pydanny.com/" target="_blank">
                                                    <div class="speaker-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/pydanny" target="_blank">
                                                    <div class="speaker-link link-twitter"></div>
                                                </a>
                                                <a href="https://github.com/pydanny" target="_blank">
                                                    <div class="speaker-link link-github"></div>
                                                </a>
                                                <!-- <a href="https://www.linkedin.com/in/pydanny" target="_blank"><div class="speaker-link link-linkedin"></div></a> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="speaker">
                                            <img src="../static/images/speaker-06.png">
                                            <div class="speaker-name">Audrey Roy Greenfeld</div>
                                            <div class="speaker-description">Co-author of Two scoops of Django</div>
                                            <div class="speaker-links">
                                                <a href="https://www.audreyr.com/" target="_blank">
                                                    <div class="speaker-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/audreyr" target="_blank">
                                                    <div class="speaker-link link-twitter"></div>
                                                </a>
                                                <a href="https://github.com/audreyr" target="_blank">
                                                    <div class="speaker-link link-github"></div>
                                                </a>
                                                <!-- <a href="https://www.linkedin.com/in/audrey" target="_blank"><div class="speaker-link link-linkedin"></div></a> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="speaker">
                                            <img src="../static/images/speaker-02.png">
                                            <div class="speaker-name">Eric Holscher</div>
                                            <div class="speaker-description">Co-founder of Read the Docs and Write the
                                                Docs
                                            </div>
                                            <div class="speaker-links">
                                                <a href="http://ericholscher.com/" target="_blank">
                                                    <div class="speaker-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/ericholscher" target="_blank">
                                                    <div class="speaker-link link-twitter"></div>
                                                    <a href="https://github.com/ericholscher" target="_blank">
                                                        <div class="speaker-link link-github"></div>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="speaker">
                                            <img src="../static/images/speaker-04.png">
                                            <div class="speaker-name">Peadar Coyle</div>
                                            <div class="speaker-description">PyMC3 Contributor and Author</div>
                                            <div class="speaker-links">
                                                <a href="https://peadarcoyle.wordpress.com/" target="_blank">
                                                    <div class="speaker-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/Springcoil" target="_blank">
                                                    <div class="speaker-link link-twitter"></div>
                                                </a>
                                                <a href="https://github.com/springcoil" target="_blank">
                                                    <div class="speaker-link link-github"></div>
                                                </a>
                                                <!-- <a href="https://uk.linkedin.com/in/peadarcoyle" target="_blank"><div class="speaker-link link-linkedin"></div></a> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!--
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                      <div class="speaker">
                                        <img src="../static/images/speaker-00.png">
                                        <div class="speaker-name">Awesome speaker</div>
                                        <div class="speaker-description">Coming soon...</div>
                                      </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                      <div class="speaker">
                                        <img src="../static/images/speaker-00.png">
                                        <div class="speaker-name">Mark Cutts</div>
                                        <div class="speaker-description">Google Engineer</div>
                                        <div class="speaker-links">
                                          <a href="" target="_blank"><div class="speaker-link link-web"></div></a>
                                          <a href="" target="_blank"><div class="speaker-link link-twitter"></div></a>
                                          <a href="" target="_blank"><div class="speaker-link link-facebook"></div></a>
                                          <a href="" target="_blank"><div class="speaker-link link-linkedin"></div></a>
                                        </div>
                                      </div>
                                    </div>
                                  -->

                                </div><!-- row ends -->
                            </div><!-- speakers-content ends -->

                            <div class="section-content got-idea-content">
                                <div class="title-section got-idea-title">Got a talk idea?</div>
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-centered">
                                        <div class="package-container">
                                            <div class="package-content">
                                                <h3 class="package-title">
                                                    Tell us what is your conference about
                                                </h3>
                                                <p class="package-text">We know speakers are key to<br/>the success of a
                                                    conference.</p>
                                                <h3 class="package-subtitle">
                                                    What do Speakers get?
                                                </h3>
                                                <ul class="package-list">
                                                    <li>
                                                        <i class="material-icons">check</i><span>Full conference pass</span>
                                                    </li>
                                                    <li><i class="material-icons">check</i><span>The opportunity to impact the lives of over a hundred developers</span>
                                                    </li>
                                                    <li><i class="material-icons">check</i><span>1 additional Free Conference ticket</span>
                                                    </li>
                                                    <li><i class="material-icons">check</i><span>Speakers Dinner and excellent time in the city</span>
                                                    </li>
                                                    <li><i class="material-icons">check</i><span>Possibility to apply for flights and accommodation aid based on available budget</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-container">
                                            <div class="field-container">
                                                <div id="speaker-name-field-container"
                                                     class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="speaker-name-field" autocomplete="off">
                                                    <label class="mdl-textfield__label search-bar-input-label"
                                                           for="speaker-name-field">Name</label>
                                                    <span id="speaker-name-error" class="mdl-textfield__error">This field is required!</span>
                                                </div>
                                            </div>
                                            <div class="field-container">
                                                <div id="speaker-email-field-container"
                                                     class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="speaker-email-field" autocomplete="off">
                                                    <label class="mdl-textfield__label search-bar-input-label"
                                                           for="speaker-email-field">Email</label>
                                                    <span id="speaker-email-error" class="mdl-textfield__error"></span>
                                                </div>
                                            </div>
                                            <div class="field-container">
                                                <div id="speaker-type-field-container"
                                                     class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="speaker-type-field" autocomplete="off">
                                                    <label class="mdl-textfield__label search-bar-input-label"
                                                           for="speaker-type-field">Type (workshop or talk)</label>
                                                    <span id="speaker-type-error" class="mdl-textfield__error"></span>
                                                </div>
                                            </div>
                                            <div class="field-container">
                                                <div id="speaker-title-field-container"
                                                     class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="speaker-title-field" autocomplete="off">
                                                    <label class="mdl-textfield__label search-bar-input-label"
                                                           for="speaker-title-field">Title</label>
                                                    <span id="speaker-title-error" class="mdl-textfield__error"></span>
                                                </div>
                                            </div>
                                            <div class="field-container textarea-container">
                                                <div id="speaker-description-field-container"
                                                     class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
                                                    <!-- Add class .is-invalid when error -->
                                  <textarea class="mdl-textfield__input" rows="3"
                                            id="speaker-description-field"></textarea>
                                                    <label class="mdl-textfield__label" for="speaker-description-field">Description, duration, url, language and other info</label>
                                  <span id="speaker-description-error"
                                        class="mdl-textfield__error"></span>
                                                    <!-- This is the error message, it's shown when parent has .is-invalid class-->
                                                </div>
                                            </div>
                                            <div class="checkbox-container">
                                                <label id="speaker-support-field-container"
                                                       class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                                       for="speaker-support-field">
                                <span class="mdl-checkbox__label">Require financial support<br/>
                                  (flights and accommodation)</span>
                                                    <input type="checkbox" id="speaker-support-field"
                                                           class="mdl-checkbox__input">
                                                </label>
                                            </div>

                                            <p id="speaker-form_confirmation" class="package-text"></p>

                                            <button id="call-for-proposal-send-button" type="button"
                                                    class="mdl-button mdl-js-button mdl-js-ripple-effect send-btn">
                                                <span id="call-for-proposal-send-button-text">Send</span>
                                                <i id="call-for-proposal-loading-gif"
                                                   class="material-icons spin-animation">loop</i>
                                                <!-- Remove .hidden for show the loading icon -->
                                            </button>
                                        </div>
                                    </div>
                                </div><!-- row ends -->
                            </div><!-- got-idea-content ends -->

                            <div class="section-content sponsors-content">
                                <div class="title-section sponsors-title">
                                    Sponsors
                                </div>
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-5 col-md-6 col-centered">
                                        <div class="sponsors">
                                            <a href="https://www.python.org/psf/" target="_blank">
                                                <div class="sponsor-logo sponsor-logo-python-foundation"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 col-md-6 col-centered">
                                        <div class="sponsors">
                                            <a href="https://www.toptal.com/" target="_blank">
                                                <div class="sponsor-logo sponsor-logo-toptal"></div>
                                            </a>
                                        </div>
                                    </div>
                                </div><!-- row ends -->
                            </div><!-- speakers-content ends -->

                            <div class="section-content organizers-content">

                                <div class="title-section organizers-title">
                                    Organizers
                                </div>
                                <div class="row row-centered">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-01.png">
                                            <div class="organizer-name">John Roa</div>
                                            <div class="organizer-description">Event Organizer</div>
                                            <div class="organizer-links">
                                                <a href="https://about.me/jhonjairoroa87" target="_blank">
                                                    <div class="organizer-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/jhonjairoroa87" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://www.linkedin.com/in/johnroa27" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-00.png">
                                            <div class="organizer-name">Mario Morales</div>
                                            <div class="organizer-description">Event Co-organizer</div>
                                            <div class="organizer-links">
                                                <!-- <a href="https://twitter.com/ivancarrancho" target="_blank"><div class="organizer-link link-twitter"></div></a> -->
                                                <a href="https://www.linkedin.com/in/emetricz" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-02.png">
                                            <div class="organizer-name">Edwin (Hijo) Jerez</div>
                                            <div class="organizer-description">Art Director & Front-end</div>
                                            <div class="organizer-links">
                                                <a href="https://www.behance.net/soyelhijo" target="_blank">
                                                    <div class="organizer-link link-behance"></div>
                                                </a>
                                                <a href="http://www.soyelhijo.com" target="_blank">
                                                    <div class="organizer-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/soyelhijo" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://www.linkedin.com/in/soyelhijo" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-06.png">
                                            <div class="organizer-name">Patricia Montoya</div>
                                            <div class="organizer-description">Marketing & Logistics</div>
                                            <div class="organizer-links">
                                                <!-- <a href="https://twitter.com/ivancarrancho" target="_blank"><div class="organizer-link link-twitter"></div></a> -->
                                                <a href="https://www.linkedin.com/in/montoyapatricia" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-07.png">
                                            <div class="organizer-name">Cristian Otálvaro</div>
                                            <div class="organizer-description">Social Media</div>
                                            <div class="organizer-links">
                                                <a href="http://behance.net/cmotalvaro" target="_blank">
                                                    <div class="organizer-link link-behance"></div>
                                                </a>
                                                <a href="http://about.me/cristian.otalvaro" target="_blank">
                                                    <div class="organizer-link link-web"></div>
                                                </a>
                                                <a href="http://www.linkedin.com/in/cristianotalvarog" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-04.png">
                                            <div class="organizer-name">Ivan Ramirez</div>
                                            <div class="organizer-description">Social Media</div>
                                            <div class="organizer-links">
                                                <a href="https://twitter.com/ivancarrancho" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://co.linkedin.com/in/ivancramirez" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-09.png">
                                            <div class="organizer-name">Andres Duque</div>
                                            <div class="organizer-description">Social media</div>
                                            <div class="organizer-links">
                                                <a href="https://twitter.com/saduqz" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://www.facebook.com/saduqz" target="_blank">
                                                    <div class="organizer-link link-facebook"></div>
                                                </a>
                                                <a href="https://www.linkedin.com/in/saduqz" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-10.png">
                                            <div class="organizer-name">Juan Carlos Rodriguez</div>
                                            <div class="organizer-description">Logistic</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-11.png">
                                            <div class="organizer-name">Fercho Duque</div>
                                            <div class="organizer-description">Designer</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-08.png">
                                            <div class="organizer-name">Carlos Salgado</div>
                                            <div class="organizer-description">Tickets</div>
                                            <div class="organizer-links">
                                                <!--
                                                <a href="https://twitter.com/ivancarrancho" target="_blank"><div class="organizer-link link-twitter"></div></a>
                                                <a href="https://co.linkedin.com/in/ivancramirez" target="_blank"><div class="organizer-link link-linkedin"></div></a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-05.png">
                                            <div class="organizer-name">Nicolas Molina</div>
                                            <div class="organizer-description">Sponsors</div>
                                            <div class="organizer-links">
                                                <a href="https://twitter.com/nicobytes" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://co.linkedin.com/in/nicobytes/en" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                        <div class="organizer">
                                            <img src="../static/images/organizer-03.png">
                                            <div class="organizer-name">Alejandro Correa</div>
                                            <div class="organizer-description">Venue</div>
                                            <div class="organizer-links">
                                                <a href="http://albahnsen.com" target="_blank">
                                                    <div class="organizer-link link-web"></div>
                                                </a>
                                                <a href="https://twitter.com/albahnsen" target="_blank">
                                                    <div class="organizer-link link-twitter"></div>
                                                </a>
                                                <a href="https://co.linkedin.com/in/albahnsen/en" target="_blank">
                                                    <div class="organizer-link link-linkedin"></div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                  <div class="col-xs-12 col-sm-4 col-md-3 col-centered">
                                    <div class="organizer">
                                      <img src="../static/images/organizer-00.png">
                                      <div class="organizer-name">Mark Cutts</div>
                                      <div class="organizer-description">Google Engineer</div>
                                      <div class="organizer-links">
                                        <a href="" target="_blank"><div class="organizer-link link-web"></div></a>
                                        <a href="" target="_blank"><div class="organizer-link link-twitter"></div></a>
                                        <a href="" target="_blank"><div class="organizer-link link-facebook"></div></a>
                                        <a href="" target="_blank"><div class="organizer-link link-linkedin"></div></a>
                                        <a href="" target="_blank"><div class="organizer-link link-github"></div></a>
                                      </div>
                                    </div>
                                  </div>
                                -->
                                <div class="organizers-advice">
                                    We're looking for volunteers, send us an email to <a href="mailto:hello@pycon.co">hello@pycon.co</a>
                                </div>
                            </div><!-- organizers-content ends -->

                        </div><!-- container-box ends -->

                        <footer>
                            <div class="footer-advice">Pycon Colombia is a non-profit community conference organized by
                                volunteers of the Python and Tech community
                            </div>
                            <div class="footer-email"><a href="mailto:hello@pycon.co">hello@pycon.co</a></div>
                            <div class="footer-logos">
                                <a href="https://twitter.com/pyconcolombia" target="_blank">
                                    <div class="footer-logo footer-logo-twitter"></div>
                                </a>
                                <a href="https://www.facebook.com/pyconcolombia/" target="_blank">
                                    <div class="footer-logo footer-logo-facebook"></div>
                                </a>
                            </div>
                        </footer>
                    </div>
                </div>

            </div><!-- sections-container ends -->

        </div>
    </main>
</div>

<img class="hidden" src="images/opimage.jpg"/>

</body>

<!-- Enables Facebook buttons -->
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Enables twitter buttons -->
<script>
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

<!-- Google analytics script -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-83993472-1', 'auto');
    ga('send', 'pageview');
</script>


<!-- handle functionality for speakers form -->
<script>

    /**
     * DOM id's used in the pycon landing page
     */
    var LANDING_PAGE_DOM_IDS = {

        // speakers form
        SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD: 'speaker-name-field',
        SEND_CALL_FOR_PAPER_SPEAKER_NAME_ERROR: 'speaker-name-error',
        SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD_CONTAINER: 'speaker-name-field-container',

        SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD: 'speaker-email-field',
        SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_ERROR: 'speaker-email-error',
        SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD_CONTAINER: 'speaker-email-field-container',

        SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD: 'speaker-type-field',
        SEND_CALL_FOR_PAPER_SPEAKER_TYPE_ERROR: 'speaker-type-error',
        SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD_CONTAINER: 'speaker-type-field-container',

        SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD: 'speaker-title-field',
        SEND_CALL_FOR_PAPER_SPEAKER_TITLE_ERROR: 'speaker-title-error',
        SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD_CONTAINER: 'speaker-title-field-container',

        SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD: 'speaker-description-field',
        SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_ERROR: 'speaker-description-error',
        SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD_CONTAINER: 'speaker-description-field-container',

        SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD: 'speaker-support-field',
        SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_ERROR: 'speaker-support-error',
        SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD_CONTAINER: 'speaker-support-field-container',

        SEND_CALL_FOR_PAPER_BUTTON: 'call-for-proposal-send-button',
        SEND_CALL_FOR_PAPER_BUTTON_TEXT: 'call-for-proposal-send-button-text',
        SEND_CALL_FOR_PAPER_FORM_CONFIRMATION: 'speaker-form_confirmation',
        SEND_CALL_FOR_PAPER_LOADING_GIF: 'call-for-proposal-loading-gif'


    };

    /**
     * Contains id's of the elements of the form for each field: (input, icon, error message and field container)
     */
    var sendCallForPaperFormFieldStructure = {
        'name': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD_CONTAINER
        }, 'email': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD_CONTAINER
        }, 'type': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TYPE_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD_CONTAINER
        }, 'title': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TITLE_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD_CONTAINER
        }, 'description': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD_CONTAINER
        }
        , 'support': {
            'fieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD,
            'errorMessageFieldId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_ERROR,
            'fieldContainerId': LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD_CONTAINER
        }
    };

    function initFirebase() {
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyA2UCq6PYxhGN3JRV7tJ1sYttnDqDoDpgY",
            authDomain: "pycon-landing-page.firebaseapp.com",
            databaseURL: "https://pycon-landing-page.firebaseio.com",
            storageBucket: "pycon-landing-page.appspot.com"
        };
        firebase.initializeApp(config);
        firebaseSignIn()

    }


    function firebaseSignIn() {
        firebase.auth().signInAnonymously().catch(function (error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // ...
        });

        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                // User is signed in.
                var isAnonymous = user.isAnonymous;
                // ...
            } else {
                // User is signed out.
                // ...
            }
            // ...
        });
    }

    function displayButtonText(action) {
        var buttonTextDOMObject = $('#' + LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_BUTTON_TEXT);
        var loadingGifDOMObject = $('#' + LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_LOADING_GIF);
        switch (action) {
            case 'show':
                buttonTextDOMObject.removeClass('hidden');
                loadingGifDOMObject.addClass('hidden');
                break;
            case 'hide':
            default:
                buttonTextDOMObject.addClass('hidden');
                loadingGifDOMObject.removeClass('hidden');
        }
    }

    function writeSpeakerUserData(speakerData) {
        firebase.database().ref('/proposals/' + generateUUID()).set(speakerData).then(successCallback, errorCallback);
        function successCallback(response) {
            displayButtonText('show');
            clearSendCallForPaperForm();
            showConfirmationMessage("Thanks for submitting your proposal!, we will review it and get back to you soon");
        }

        function errorCallback(error) {
            //do something else
            showConfirmationMessage("There was an error submitting your proposal, please try again or report the " +
                    "issue sending an email to support@pycon.co");
        };
    }

    function showConfirmationMessage(message) {
        var confirmationmessageDOMObject = $('#' + LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_FORM_CONFIRMATION);
        confirmationmessageDOMObject.text(message);
        confirmationmessageDOMObject.removeClass('hidden');
    }

    function onClickedSendCallForPaperButton() {
        displayButtonText('hide');
        var formData = getSendCallForPaperFormData();
        validateFormData(formData);
    }

    function getSendCallForPaperFormData() {
        return {
            'name': document.getElementById(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD).value,
            'email': document.getElementById(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD).value,
            'type': document.getElementById(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD).value,
            'title': document.getElementById(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD).value,
            'description': document.getElementById(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD).value,
            'support': $('#' + LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD).prop('checked')
        };
    }


    /**
     * Show error messages and add error classes to fields in create investor
     * @param errorArray: Array: Errors to be rendered in te form
     */
    function displaySendCallForPaperFormErrorMessage(errorArray) {

        for (var i = 0; i < errorArray.length; i++) {

            var errorElement = errorArray[i];
            var fieldKey = errorElement.dataPath.substring(1); // remove initial dot defined by ajv
            var formFieldStructure = sendCallForPaperFormFieldStructure[fieldKey];

            // map ids of the field components: error message, icon, container
            var errorMessageFieldId = formFieldStructure.errorMessageFieldId;
            var fieldContainerId = formFieldStructure.fieldContainerId;

            displayErrorMessage(fieldContainerId, errorMessageFieldId, errorElement.message);
        }
    }

    /**
     *
     * @param fieldContainerId. String, Id of the container of the field in form. Ie 'investorNameFormContainer'
     * @param errorSpanId. String, Id of the span where error text is shown . Ie 'investorNameEditFormErrorMessage'
     * @param errorMessage. String, Message that indicates the casue of the error. Ie 'field name is required'
     */
    function displayErrorMessage(fieldContainerId, errorSpanId, errorMessage) {
        $('#' + fieldContainerId).addClass('is-invalid');
        $('#' + errorSpanId).text(errorMessage);
    }


    function clearSendCallForPaperForm() {
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD);
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_EMAIL_FIELD);
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TYPE_FIELD);
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_TITLE_FIELD);
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_DESCRIPTION_FIELD);
        clearSendCallForPaperFormField(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_NAME_FIELD);
        clearSendCallForPaperFormCheck(LANDING_PAGE_DOM_IDS.SEND_CALL_FOR_PAPER_SPEAKER_SUPPORT_FIELD);
    }

    /**
     * C value in the investor fields
     * @param fieldId String Id of the field to be updated. Ie 'investorEmailFormContainer'
     */
    function clearSendCallForPaperFormField(fieldId) {
        var fieldDOMElementParent = $('#' + fieldId).val('').parent();
        fieldDOMElementParent.removeClass('is-focused');
        fieldDOMElementParent.removeClass('is-dirty');
        fieldDOMElementParent.addClass('is-empty');
    }

    function clearSendCallForPaperFormCheck(fieldId) {
        var fieldDOMElementParent = $('#' + fieldId).prop('checked', false).parent();
        fieldDOMElementParent.removeClass('is-checked');
    }

    function generateUUID() {
        var d = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }

    function validateFormData(formData) {

        var callFormPaperFormSchema = {
            "$schema": "http://json-schema.org/draft-04/schema#",
            "type": "object",
            "properties": {
                "name": {
                    "type": "string",
                    "minLength": 1
                },
                "email": {
                    "type": "string",
                    "format": "email",
                    "minLength": 1
                },
                "type": {
                    "type": "string",
                    "minLength": 1
                },
                "title": {
                    "type": "string",
                    "minLength": 1
                },
                "description": {
                    "type": "string",
                    "minLength": 1
                }
            }
        };

        // load validator object
        var ajv = new Ajv({"allErrors": true});
        var valid = ajv.validate(callFormPaperFormSchema, formData); // perform validation: schema vs filled data

        if (!valid) {
            console.log(ajv.errors);
            displaySendCallForPaperFormErrorMessage(ajv.errors);
            displayButtonText('show');
        } else {
            writeSpeakerUserData(formData);
        }

    }

    function addActionsToDomElements() {
        $('#call-for-proposal-send-button').click(onClickedSendCallForPaperButton);
    }

    addActionsToDomElements();
    initFirebase();


</script>

</html>